img {
  width: 100%;
}

.padded {
  padding-bottom: 10px;
}

.selected {
  box-shadow:0 0 15px 5px #9ecaed;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.thumb-container {
  position: relative;
}

.thumb-container .cropper-disabled .cropper-crop,
.thumb-container .cropper-disabled .cropper-face {
  cursor: pointer;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
  width: 100%;
  height: 100%;
}

.crop-preview img {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
}
